_site
.sass-cache
.jekyll-metadata
.idea
.run
venv/*
divers/*
chorégraphie/*
src/powershell/*.log
src/bash/*.log
docs/assets/images/tiles/*
docs/assets/images
src/python/service_account_key.json
data/events.json
~$WCS.xlsx